<h1>New Game</h1>

<ul class="word list-inline">
  <%  @letters.each do |letter| %>
    <li class="letter list-inline-item"><%= letter %></li>
  <% end %>
</ul>
<p>What's the longest word you can find?</p>
<form action="score" method="post">
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" class="field">
  <input type="submit" value="Play" class="btn-lg btn-blue">
</form>
